button {
  outline: none;
  background-color: lightgrey;
  border: 1px solid lightgrey;
  color: black;
  padding: 1px 10px 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  transition-duration: 0.4ms;
  margin: 0 2px 0 2px;

  &:hover {
    background-color: white;
    border: 1px solid darkgrey;
    color: black;
  }

  &[disabled] {
    background-color: rgba(44, 44, 44, 0.28);
    color: rgba(44, 44, 44, 0.71);
    border-color: rgba(44, 44, 44, 0.71);

    &:hover {
      background-color: rgba(44, 44, 44, 0.28);
      border-color: rgba(44, 44, 44, 0.71);
    }
  }
}

.btnDelete {
  background-color: darkgrey;
  border: 1px solid darkgrey;
}

.btnEdit {
  background-color: lightgrey;
  border: 1px solid lightgrey;
}

.btnSave {
  background-color: #4CAF50; /* Green */
  border: 1px solid #4CAF50;
  color: white;
  font-size: 16px;
  padding: 6px 12px 6px 12px;
  float: right;

  &:hover {
    background-color: white;
    border: 1px solid #4CAF50;
  }
}

/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

.viewModeButton {
  float: right;
  font-family: sans-serif;
  font-size: 16px;
}

.yesButton {
  float: right;
  font-size: 18px;
}

.btnHelp {
  border-radius: 50% !important;
  padding: 2px 6px 2px 6px;

}

/* Контейнер подсказок */
.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* Если вы хотите многоточия под наведением курсора текстом */
  &:hover {
    cursor: pointer;

    .tooltiptext {
      visibility: visible;
    }

  }
}

/* Текст подсказки */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  white-space: nowrap;

  /* Расположите текста подсказки */
  top: -15px;
  left: 115%;
  position: absolute;
  z-index: 1;
}

.btnDeleteIcon {
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  padding: 2px 6px 2px 6px;
  background-color: transparent;
  color: #ff0600;
  border: none;
  font-weight: bold;

  &:hover {
    background: #ff0600;
    color: white;
    border: none;
  }
}