.router {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
  }

  li {
    float: left;
  }

  li a {
    @extend %elementInNavigationBar
  }

  li a:hover {
    background-color: darkgrey;
  }
  img {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 12px;
  }
}

%elementInNavigationBar {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

