.td-sm { /*small cell*/
  text-align: center;
  width: 7%;
  vertical-align: middle;
}

.td-m { /*middle cell*/
  text-align: center;
  width: 15%;
  vertical-align: middle;
}

.td-l { /*large cell*/
  width: 70%;
  vertical-align: middle;
}

.th-l { /*large cell for headers*/
  width: 70%;
  text-align: center;
  vertical-align: middle;
}

.td-action { /*cell for buttons*/
  text-align: right;
  vertical-align: middle;
  width: 0;
  white-space: nowrap;
  padding: 4px;
}

table {
  cursor: default;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

th {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #f5f5f5;
  padding: 8px;
}

tr:hover {
  background-color: #f5f5f5;
}

.heading { /*heading*/
  text-align: center;
  text-transform: uppercase;
  color: #894641;
  padding: 8px;
  font-size: 16px;
  background-color: rgba(225, 186, 188, 0.44);
  cursor: default;
}

.div-forViewMode { //tables - months (with birthdays) for view mode
  width: (100%/3);
  padding: 2px;
  display: inline-block;
  vertical-align: top;
  min-width: 150px;
}

.table-viewMode { //row without border
  td {
    border-bottom: 0;
  }

  tr {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

@media only screen and (max-width: 900px) {
  table {
    font-size: 13px !important;
  }
  .heading {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 600px) {
  table {
    font-size: 10px !important;
  }
  .heading {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 450px) {
  .div-forViewMode { //tables - months (with birthdays) for view mode
    width: (100%/2);
  }
}

.table-ofTemplates {
  .trActive {
    background-color: rgba(225, 186, 188, 0.50);
    border-radius: 4px;
  }

  .th-l {
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

}
